// Геометрия верстки
$contentMaxWidht1024: 1340px;
$contentMaxWidht768: 992px;
$contentMaxWidht320: 556px;
$containerPadRL1024: 20px;
$containerPadRL768: 20px;
$containerPadRL320: 10px;

$mediaBorderMin1024: 1024px;
$mediaBorderMax768: 1023px;
$mediaBorderMin768: 577px;
$mediaBorderMax320: 576px;

// Цвета
$bodyBGColor: #E5E5E5;

$colorWhite: white;
$colorGreen: #34C759;
$colorOrange: #E6B127;
$colorRed: #F06A4D;
$colorFirm: #9873FF;
$colorFirmH: #B89EFF;
$colorFirmF: #8052FF;
$colorGrey: #C8C5D1;
$colorGrey03: rgba(200, 197, 209, 0.3);
$colorGrey05: rgba(231, 229, 235, 0.5);
$colorTxtGrey: #B0B0B0;
$colorBlack: #333333;
$colorBlack02: rgba(33, 33, 33, 0.2);
